<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recipe Home</title>
</head>
<body>
	<h1>Recipes</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Source</th>
				<th>Cook Time</th>
				<th>Preparation Time</th>
				<th>Difficulty</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="recipe: ${recipes}">
				<td th:text="${recipe.id}">123</td>
				<td th:text="${recipe.description}">Description</td>
				<td th:text="${recipe.source}">Source</td>
				<td th:text="${recipe.cookTime}">Cook Time</td>
				<td th:text="${recipe.prepTime}">PrepTime</td>
				<td th:text="${recipe.difficulty}">Difficulty</td>
				<td th:text="${recipe.notes.recipeNote}">Notes</td>
			</tr>
		</tbody>
	</table>
</body>
</html>